@import "../../../../stylings/variables";

$bottom-radius: 2em;

.header-wrapper {
  position: relative;
  margin-bottom: 1.8em;

  & .img-banner {
    display: block;
    max-width: 1980px;
    width: 100%;
    height: auto;
    border-bottom-left-radius: $bottom-radius;
    border-bottom-right-radius: $bottom-radius;
    margin: 0 auto;
    // @media screen and (min-width: $md) {
    //   max-height: 300px;
    // }

    // @media screen and (min-width: $lg) {
    //   max-height: 400px;
    // }
  }

  & .logo {
    position: absolute;
    bottom: -1.5em;
    left: 38%;
  }
}
